<div class="align-items-center d-flex evp-process">
	<div class="process-title-container">
		<div class="d-flex flex-row">
		<h1 class="m-0 number-process" data-lfr-editable-id="number-process" data-lfr-editable-type="text">
				5
			</h1>

			<div>
			<h2 class="h1 mb-0 mt-3 process-title-1" data-lfr-editable-id="process-title" data-lfr-editable-type="text">
					EVP Process
				</h2>
			<h2 class="mb-0 mt-1 steps-process" data-lfr-editable-id="steps-process" data-lfr-editable-type="text">
					steps
				</h2>
			</div>
		</div>

		<div class="d-flex mt-3 steps-icons">
		<img alt="Placeholder" class="col process-icon" data-lfr-editable-id="image1" data-lfr-editable-type="image" src="[resources:warehouse_icon.svg]" />

		<img alt="Placeholder" class="col process-icon" data-lfr-editable-id="image2" data-lfr-editable-type="image" src="[resources:file_template_icon.svg]" />

		<img alt="Placeholder" class="col process-icon" data-lfr-editable-id="image3" data-lfr-editable-type="image" src="[resources:check_circle_icon.svg]" />

		<img alt="Placeholder" class="col process-icon" data-lfr-editable-id="image4" data-lfr-editable-type="image" src="[resources:people_outline_icon.svg]" />

		<img alt="Placeholder" class="col process-icon" data-lfr-editable-id="image5" data-lfr-editable-type="image" src="[resources:message_boards_icon.svg]" />
		</div>
	</div>
</div>