.breadcrumb-search-container {
	padding: 25px 30px 20px;

	.breadcrumb-search-content,
	.breadcrumb-search-input-edit {
		display: inline-block;
		font-size: 1em;
		font-weight: $font-header-weight;
		line-height: 1.5;
	}

	.breadcrumb-search-input-edit-wrapper {
		display: inline-block;
		margin: 0;
		white-space: nowrap;

		.breadcrumb-search-input-edit {
			border-width: 0;
			font-size: 1em;
			font-weight: $font-header-weight;
			height: auto;
			margin-left: 10px;
			padding: 0;

			&:focus,
			&:focus-visible {
				border: none;
				border-width: 0;
				box-shadow: none;
			}
		}

		&:before {
			content: '/';
			display: inline;
			padding-left: 8px;
			vertical-align: bottom;
		}
	}

	.divider {
		padding: 0 8px;
		vertical-align: bottom;
	}

	.selected-container {
		.breadcrumb-selected-item,
		.divider {
			color: $color-gray;
			vertical-align: bottom;
		}

		&.active {
			.breadcrumb-selected-item,
			.divider {
				color: $color-black;
			}
		}
	}

	ul {
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		list-style: none;
		max-height: 500px;
		overflow-y: scroll;
	}

	.breadcrumb-finder-item {
		padding: 14px;

		.result-item {
			align-items: center;
			display: flex;

			.result-hotkey-hint-container {
				align-items: center;
				display: flex;

				.result-hotkey-hint {
					color: $label-color;
					font-size: 1rem;
					margin: 0 20px;

					kbd {
						background-color: $color-gray;
						box-shadow: none;
						color: $color-white;
						font-size: $font-size-small;
						margin: 0 10px;
						padding: 2px 6px;
						text-transform: lowercase;
					}
				}
			}

			.result-text {
				flex: 1;
			}
		}

		&.active,
		&.breadcrumb-finder-item-hover {
			color: $content-color;
		}

		&.active {
			background: $color-gray-lighter;

			.result-item {
				.result-hotkey-hint {
					visibility: visible;
				}
			}
		}

		&.breadcrumb-finder-item-hover {
			background: $color-white;

			.result-text {
				text-decoration: underline;
			}

			&.active {
				background: $color-gray-lighter;
			}
		}
	}

	&.breadcrumb-finder-navigator {
		font-weight: $font-header-weight;

		.breadcrumb-search-content {
			align-items: flex-end;
			display: flex;

			margin: 5px 0;
			opacity: 0;

			transform: scale(0.99);

			transition: opacity 0.1s linear, transform 0.1s linear,
				visibility 0s linear;
			visibility: hidden;
			white-space: nowrap;

			&,
			&:active,
			&:focus {
				background-color: $color-white;
				border-width: 0;
				// box-shadow: $box-shadow-deep;
				font-size: 1em;
			}
		}

		.selected-container {
			.breadcrumb-selected-item,
			.divider {
				display: inline-block;

				max-width: 300px;
			}
		}

		visibility: visible;

		.breadcrumb-search-content {
			opacity: 1;

			transform: scale(1);

			visibility: visible;
		}
	}
}
