.bg-gradient-blue-purple {
	background: linear-gradient(90deg, #0160f6 0.46%, #720bde 100%);
}

.bg-gradient-blue-red {
	background: linear-gradient(45deg, #0160f6 0%, #f60c56 100%);
}

.bg-gradient-purple-blue {
	background: linear-gradient(180deg, #710cdf 0%, #2446ef 1102.08%);
}
