<div class="liferay-contacts">
	
	<h1 class="mb-4 font-weight-bold" data-lfr-editable-id="Contacts" data-lfr-editable-type="text">
		Liferay Contacts
	</h1>
	
	<h2 data-lfr-editable-id="ContactsName" data-lfr-editable-type="text">
		Brendan Quinn
	</h2>
	
	<div class="contacts-post" data-lfr-editable-id="ContactsPost" data-lfr-editable-type="text">
		Account Manager
	</div>
	
	<div class="contacts-email-phone">
		
		<div data-lfr-editable-id="ContactsEmail" data-lfr-editable-type="text">
			brendan.quinn@liferay.com
		</div>

		<div data-lfr-editable-id="ContactsPhone" data-lfr-editable-type="text">
			555-555-5555
		</div>
		
	</div>

</div>