.liferay-contacts .contacts-post {
	font-size: 16px;
	font-family: Arial;
}
.liferay-contacts .contacts-email-phone {
	font-size: 13px;
}
.liferay-contacts H1 {
	font-size: 18px;
	font-family: Arial;
}
.liferay-contacts H2 {
	font-size: 16px;
	font-family: Arial;
}