@use '../index.scss';

.liferay-ai-hub-form {
	&-aggreements-text {
		font-size: 11px;
		text-align: justify;
	}

	&-aggreements-check-box,
	&-label-check-box,
	&-purpose-helper-text {
		font-size: 11px;
	}

	&-fail {
		border: solid 1px red !important;
	}

	&-select-input {
		height: 40px;
	}

	.loading-animation {
		margin: 0px !important;
	}

	&-container {
		max-width: 610px;
	}

	&-next-step-page-icon {
		height: 40px !important;
		margin: 20px !important;
		width: 40px !important;
	}

	&-token-name {
		font-family: 'Source Sans 3', sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}

	&-token-description {
		font-family: 'Source Sans 3', sans-serif;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
	}

	&-token-price {
		font-family: 'Source Sans 3', sans-serif;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		text-align: right;
		vertical-align: middle;
	}
}
