@import 'components/input';

.breadcumbSeachList {
	background-color: #f1f2f5;
	border-color: #e7e7ed;
	border-style: solid;
	border-width: 0.0625rem;
	border-bottom-width: 0.0625rem;
	border-left-width: 0.0625rem;
	border-right-width: 0.0625rem;
	border-top-width: 0.0625rem;
	border-radius: 0.25rem;
	box-shadow: none;
	color: #272833;
	display: block;
	font-size: 1rem;
	font-weight: var(--font-weight-normal, 400);
	line-height: 1.5;
	min-width: 0;
	padding-bottom: 0.4375rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
	position: relative !important;
}
*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-menu {
	z-index: 9999;
}

.portlet {
	margin-bottom: 0;
}

body {
	font-size: 100%;
	list-style-type: none;
}

.dropdown-section .custom-control-label {
	color: unset;
}

.management-bar {
	div:nth-child(1) {
		max-width: none;
	}

	.navbar-nav {
		flex-wrap: initial;
	}
}

.subnav-tbar {
	background-color: #b3cdff;

	div:nth-child(1) {
		max-width: none;
	}
}

.management-toolbar-filter-dropdown {
	max-height: 800px;
	width: 300px;

	label {
		font-size: 14px;
		font-weight: normal !important;
	}

	.form-control {
		margin-bottom: 15px;
	}
}

.dropdown-header {
	.form-control {
		margin: 0;
	}
}
.popover-body {
	max-height: 580px;
	min-height: 100px;
	overflow-y: auto;
}

.popover-footer {
	padding: 0 12px 12px;
	z-index: 999;
}
