[#assign clayIconSVG = themeDisplay.getCDNBaseURL() +
"/o/admin-theme/images/clay/icons.svg" /]

<div class="card-body c-py-4 c-px-4 rounded">
	<div class="card-title justify-content-between">
		<h5 class="c-py-2 c-my-0 text-neutral-10">Quick Links</h5>
		<a class="c-my-0 c-py-4 c-pr-3 h6 text-neutral-8 btn btn-borderless btn-variant-neutral" id="hide-link">
			<svg class="lexicon-icon lexicon-icon-hr" focusable="false" id="customer-portal-arrow" role="presentation">
				<use xlink:href="${clayIconSVG}#hr" />
			</svg>
			<u class="">Hide</u>
		</a>
	</div>
	<div class="cp-tip-container c-pt-3">
	</div>
</div>