.solution-preview {
	&-container {
		width: 600px;
	}

	&-header {
		&-image {
			width: 110px;
			height: 64px;
			border-radius: 4px;
			object-fit: contain;
			overflow: hidden;

			&-icon {
				color: #0b5fff;
			}
		}
	}

	&-profile {
		&-logo {
			height: 48px;
			object-fit: contain;
			width: 48px;
		}

		&-description-text {
			font-size: 13px;
		}

		&-tags {
			background-color: #e6ebf5;
			border-radius: 4px;
			color: #1c3667;
			height: Hug (24px) px;
			padding: 4px 8px;
			width: Hug (252px) px;
			text-wrap: nowrap;
		}
	}
}

.suport-link {
	width: 40px;
	height: 40px;
	border-radius: 50%;

	svg {
		position: relative;
		top: 2px;
	}
}
