.cp-manager-product-button {
	&:hover {
		border-color: var(--color-action-neutral-default);
	}
	& span {
		margin-left: 6px;
		margin-right: 0.25rem;
		width: 12px;
	}

	border-color: var(--color-action-neutral-default);
}
