body.has-edit-mode-menu .carousel-slide .lfr-tooltip-scope .page-editor {
	min-width: 500px;
}

body.has-edit-mode-menu .carousel-slides-container {
	gap: 8rem;
}

.carousel-container-navigation {
	display: flex;
	gap: 0.75rem;
	justify-content: center;
}

.carousel-main-container {
	max-width: 1600px !important;
}

.carousel-nav-button {
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #0B5FFF;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	height: 2.5rem;
	justify-content: center;
	padding: 0.5rem;
	width: 2.5rem;
}

.carousel-nav-button:hover {
	background: #EDF3FE;
}

.carousel-nav-container-indicators {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
	width: unset !important;
}

.swiper {
	height: 100%;
	width: 100%;
}

.swiper-slide:not(.swiper-slide-active) {
	opacity: 0.5; 
}

.swiper-slide-active {
	opacity: 1;
}

.swiper-pagination-bullet {
	background: rgba(43, 58, 75, 0.3);
	border-radius: 50%;
	height: 0.75rem;
	width: 0.75rem;
}

.swiper-pagination-bullet-active {
	background: #0B5FFF !important;
}

.swiper-slide {
	align-items: center;
	display: flex;
	justify-content: center;
}

.swiper-wrapper {
	padding-bottom: 20px;
}

.visually-hidden {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	margin: -1px;
	overflow: hidden; 
	padding: 0;
	position: absolute !important;
	width: 1px;
	white-space: nowrap; 
}
