.clay-tooltip-bottom .text-tooltip {
	max-width: 296px;
}

.modal-header {
	border: none !important;
	margin: 24px !important;
	padding: 0 !important;
}

.modal-header h1 {
	font-size: 30px !important;
	font-weight: 700 !important;
}

.modal-body {
	border: none !important;
	padding: 0 24px 8px !important;
}

.modal-content {
	border-radius: 10px !important;
}

.modal-footer {
	border-top: none !important;
	padding: 28px !important;
}

.modal-footer > .modal-item,
.modal-item-first {
	display: none !important;
}

.modal-footer > .modal-item-last {
	display: flex !important;
	margin: 0 !important;
	width: 100% !important;
}

.btn-group {
	display: flex !important;
	justify-content: space-between !important;
	width: 100% !important;
}

.main-button {
	font-size: 16px;
	height: 48px;
}

.modal-dialog.cmp-modal .modal-header {
	border: none !important;
	height: 20px !important;
	margin: 24px 0 4px 0 !important;
	padding: 0 24px !important;
}

.cmp-modal .modal-header h2 {
	color: #2e5aac !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

.cmp-modal .modal-body {
	padding: 0 24px !important;
}

.cmp-modal .modal-body h2 {
	font-size: 32px !important;
	font-weight: 700 !important;
}

.cmp-modal .modal-body p {
	color: #6c6c75 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	margin-top: 4px !important;
	padding-left: 2px !important;
}

.cmp-modal .cmp-footer {
	border-radius: 8px !important;
	display: flex !important;
	justify-content: end !important;
	margin-top: 60px !important;
	padding: 28px 0 !important;
}

.cmp-modal #cmp-continue {
	background-color: #25488a !important;
	border-radius: 8px !important;
	color: #ffffff !important;
	padding: 8px 16px !important;
}

.cmp-modal #cmp-cancel {
	background-color: transparent !important;
	border: 1px solid #2b3a4b !important;
	border-radius: 8px !important;
	color: #2b3a4b !important;
	padding: 8px 16px !important;
}
