<div class="card-sla d-flex flex-row sla mb-6">
	<div id="card-toggle" class="position-relative flex-grow-1">
		<div class="card active">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<h3 class="card-sla-title font-weight-bold" data-lfr-editable-id="sla-card-title-1" data-lfr-editable-type="text">Gold</h3>
					</div>
					<div class="col-6">
						<p class="card-sla-status font-weight-bold text-right text-uppercase" data-lfr-editable-id="sla-card-status-1" data-lfr-editable-type="text">Current</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card-sla-body font-weight-normal" data-lfr-editable-id="sla-card-body-1" data-lfr-editable-type="text">
							05/01/2021 - 05/01/2024
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--card-->
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<h3 class="card-sla-title font-weight-bold" data-lfr-editable-id="sla-card-titl-2" data-lfr-editable-type="text">Gold</h3>
					</div>
					<div class="col-6">
						<p class="card-sla-status font-weight-bold text-right text-uppercase"  data-lfr-editable-id="sla-card-status-2" data-lfr-editable-type="text">
							Future
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card-sla-body font-weight-normal" data-lfr-editable-id="sla-card-body-2" data-lfr-editable-type="text">
							05/01/2021 - 05/01/2027
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--card-->
	</div>
	<div id ="btn-div-sla" class="d-flex mt-3 align-items-center">
		<button id="btn-sla" type="button" class="d-flex justify-content-center align-items-center btn bg-white border border-primary shadow rounded-circle btn-sla ">
			<img alt="" src="[resources:Arrow-right.svg]" />
		</button>
	</div>
</div>