* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	p {
		margin: 0 !important;
	}
}

.list-style-none {
	list-style-type: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

:root {
	background-color: $background;
	color: $color-action-neutral-default;
	font-family: $font-family;
}

.d-none {
	display: none !important;
}

fieldset {
	border: none;
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: all 5000s ease-in-out 0s;
	transition-property: background-color, color;
}

svg {
	height: 0.8rem !important;
	width: 0.8rem !important;
}

@media screen and (max-width: 992px) {
	.get-a-quote-structure:not(main) {
		flex-direction: column;

		h2 {
			text-align: center;
		}

		.step-list {
			align-items: center;
			flex-direction: row !important;
			justify-content: center;
			margin: 39px 0 39px 20px;

			&::-webkit-scrollbar {
				width: 0;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.get-a-quote-structure:not(main) {
		h2 {
			display: none;
		}
	}
}

.modal-content-body {
	background-color: $color-brand-primary-darken-4 !important;
}

:root {
	--header-theme: {
		color: red;
		font-family: cursive;
		font-weight: 600;
	}
}
