liferay-remote-app-raylife {
	@import 'variables';

	@import 'global';

	@import 'apps/get-a-quote/progress-saved';
	@import 'apps/quote-comparison';
	@import 'apps/selected-quote';

	@import 'components/fragments/badges';
	@import 'components/fragments/button';
	@import 'components/fragments/card';
	@import 'components/fragments/input';
	@import 'components/fragments/progress-ring';
	@import 'components/fragments/radio';
	@import 'components/fragments/step';
	@import 'components/fragments/switch';
	@import 'components/fragments/typography';
	@import 'components/modal';
	@import 'components/progress-bar';
	@import 'components/quote-comparison';
}

@media screen and (max-width: 767px) {
	section#content.test {
		background-color: #001238;
	}

	.get-a-quote-structure {
		color: #fff;
		.step-list {
			.step-item {
				color: #fff !important;

				i {
					circle {
						stroke: #fff;
					}
				}

				i::after {
					background-color: #fff !important;
				}

				svg {
					fill: #fff;
				}
			}
		}
	}
}
