$background: var(--body-bg, #fff);
$card-padding: 3rem;
$color-action-primary-default: var(--color-action-primary-default,#4C85FF);
$color-brand-primary-lighten-6: var(--color-brand-primary-lighten-6,#F0F5FF);
$color-neutral-0: var(--color-neutral-0,#080F1B);
$color-neutral-3: var(--color-neutral-3,#808185);
$color-state-error-lighten-1: var(--color-state-error-lighten-1,#ffe4dc);
$color-state-error: var(--color-state-error,#ea6136);
$color-state-success: var(--color-state-success, #39c38d);
$error-default: var(--danger, #ea6136);
$error-light: var(--danger-background, #ffe4dc);
$font-family: var(
	--font-family-sans-serif,
	'Segoe UI',
	Tahoma,
	Geneva,
	Verdana,
	sans-serif
);
$font-weight-bolder: var(--font-weight-bolder,700);
$foreground: var(--light, #f9f9f9);
$info-default: var(--info, #295ccc);
$info-light: var(--info-background, #e5ebf9);
$neutral-black: var(--black, #09101d);
$neutral-dark: var(--gray-600, #606167);
$neutral-darker: var(--dark, #2f313d);
$neutral-default: var(--gray-500, #7d7e85);
$neutral-light: var(--gray-400, #98999b);
$primary-dark: var(--btn-link-color, #295ccc);
$primary-default-light: var(--primary-light-raylife, #4c85ff);
$primary-default: var(--primary-raylife, #295ccc);
$primary-light: var(--gray-300, #e1ebff);
$secondary-dark: var(--btn-secondary-raylife-color, #f4870b);
$secondary-default: var(--secondary-raylife, #f69d37);
$spacer-0: var(--spacer-0,0);
$spacer-1: var(--spacer-1,0.5rem);
$spacer-2: var(--spacer-2,1rem);
$spacer-3: var(--spacer-3,1.5rem);
$spacer-4: var(--spacer-4,2rem);
$spacer-5: var(--spacer-5,3rem);
