.get-in-touch ul {
	list-style-type: none;
	padding: 0px;
}

.get-in-touch .content-agent-text-adictional {
	color: var(--color-neutral-8);
	font-size: 13px;
	font-weight: var(--font-weight-bolder);
}

.get-in-touch .back-button {
	align-items: center;
	justify-content: center;
}