.collapse-icon .collapse-icon-closed {
	display: none;
}

.collapse-icon .collapse-icon-open {
	display: flex;
}

.collapse-icon .collapse-icon-closed,
.collapse-icon .collapse-icon-open {
	align-items: center;
	gap: 4px;
	height: 32px;
	justify-content: center;
	padding: 8px;
	width: 32px;
}

.collapse-icon .collapse-icon-closed:hover,
.collapse-icon .collapse-icon-open:hover {
	background: var(--action-neutral-hover-lighten, #EAECEE);
	border-radius: 6px;
}

.collapse-icon.collapsed .collapse-icon-closed {
	display: flex;
}

.collapse-icon.collapsed .collapse-icon-open {
	display: none;
}